<div class="home-page">
  <ngx-particles
    id="tsparticles"
    [options]="particlesOptions"
    [particlesInit]="particlesInit">
  </ngx-particles>

  <main class="content">
    <header class="hero">
      <h1>Mi Portafolio</h1>
      <p>TSU en Análisis de Sistemas | Fullstack Developer</p>
    </header>

    <section class="section-container">
      <app-academic></app-academic>
      <app-experience></app-experience>
      <app-collaborations></app-collaborations>
    </section>
  </main>
</div>