<div class="home-page">
  @if (isBrowser()) {
    <ngx-particles id="tsparticles" [options]="particlesOptions" [particlesInit]="particlesInit"></ngx-particles>
  }

  <main class="content">
    <header class="hero">
      <h1>Mi Portafolio</h1>
      <h2>Soy Ricardo Castro.</h2>
      <h3> Me gusta programar, crear y aportar software.</h3>
    </header>

    <div class="section-wrapper">
      <app-academic></app-academic>
      <app-experience></app-experience>
      <app-collaborations></app-collaborations>
    </div>
  </main>
</div> 